.car-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
  }
  .car-details {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .car-details button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .car-details h2 {
    margin-top: 0;
    margin-bottom: 8px;
  }
  
  .car-details p {
    margin: 4px 0;
  }
  .car-title-wrapper{
    
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    font-size: 16px;
  }
  .car-title-wrapper h2{
    width: 500px;
  }

  .car-details-wrapper {
    align-self: center;
    z-index: 999;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 70px;
    opacity: 0;
    height:min-content;
    width: 600px;
    transition: opacity 0.3s ease;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 20px;
    
  }
  .car-details-wrapper.open {
    opacity: 1;
  }
  
  .car-details-wrapper p {
    font-size: 1.5rem;
    align-self: center;
    opacity: 1;
    background-color: white;
    padding: 10px;
  }
  .car-details-wrapper.open p {
    opacity: 1;
  }
  .icons{
    padding: 0 5px 0 5px;
  }