.navbar-component{
    display: flex;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 100vw;
}
.navbar-component a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}
.navbar-logo{
    padding: 10px;
    width: 100px;
    text-align: center;
    font-size: 1.5rem;
    transition: font-size 0.4s ease-in;
}
.navbar-links{
    list-style-type: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in, font-size 0.3s ease-in;
}

.navbar-links:hover{
    color: rgb(227, 227, 194);
}
.navbar-logo:hover{
    font-size: 1.6rem;
}